@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.nav-buttons{
    margin-left:40%;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
.nav-item .active:focus
    



body{
    font-family: "Poppins";
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color:azure;
}
h6{
    color: #D8D8D8;
}
p{
    font-size: 1rem;
    font-weight: 800;
}
.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    font-weight: bold;
    color:#000;
    transition: 0.4s ease;


}
.navbar-light .navbar-nav .nav-link:hover, .navbar i:hover, 
.navbar-light .navbar-nav .nav-link.active.navbar i:hover{
    color: coral ;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;

    }
    .nav-buttons ul{
        margin:1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align:left;

    }
    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;
        

    }

}

#brand .row img {
    width: 25%;
    height:25%;
}

#home{

    background-image: url('../../img/guitar.jpg'); 
    width: 100%;
    height: 150vh;
    background-size:cover;
    background-position-x: 0px;
    background-position-y: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#home span{
    color:coral;
    
}
#home button span{
    background-color:black;
    color:azure
    
}
#home button span:hover{
    color: coral;
}


#new .one button span{
    background-color: #000;
    color: azure;
    

}
#new .one button :hover{
    color: coral;
}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#new .one{
    position: relative;
}

#new .one .details:hover{
    background-color: cornsilk;
}
#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;

}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
}
 .but-btn {
    background-color: black;
    color: azure;

}
.but-btn:hover{
    background-color:coral;
}

/* Product */

.product {
    cursor: pointer;
    margin-bottom: 2rem;
}
 
.product img {
    transition: 0.3s all;

}
.product img:hover{
    opacity: 0.7;
}

#banner{
    background-image: url('../../img/guitar.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x:center ;
    background-position-y:80px ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
#banner h1{
    color: coral;
}
#banner button {
    background-color: black;
    color: azure

}
#banner button:hover{
    background-color: coral;
}
#banner h4{
 color: azure;
}
.star-row {
    color:goldenrod;
}
.product .p-name span{
    color:coral;
    font-size: 1rem;
    font-weight: 600;

}
 .mt-5py-5{
    background-color: green;
}

footer{
    background-color: #222222;
}
footer h5{
color: #D8D8D8;
font-weight: 700; 
font-size: 1.2rem;   
}
footer h6{
    color: #D8D8D8;
    font-weight: 700; 
    font-size: 1rem;   
    }
    footer p{
        color: #999;
        font-size: 0.8rem;
    }

 footer .copyright a{
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
 }

 footer .copyright a:hover{
    color:#fff;

    background-color: #fb774b;
 }
 .page-item .page-link
 {
    font-weight: 600; 
font-size: 1rem;  
 }

 .page-item .page-link:hover {
    background-color: coral; 
    color: #fff;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis:24%;

}
font{
    font-weight: 700; 
    font-size: 1rem;   
}
.col-lg-6.col-md-12.col-sm-12 h6,
.col-lg-6.col-md-12.col-sm-12 h3,
.col-lg-6.col-md-12.col-sm-12 h2 {
    font-weight: 600; 
    font-size: 1rem/* Adjust the font size as needed */
}

.col-lg-6.col-md-12.col-sm-12 h2 {
    font-size: 30px; /* Font size for the price */
}
.col-lg-6.col-md-12.col-sm-12 .buy-btn{
    background-color: #222222; 
    opacity:1;
    transition:0.4s all;
    color: #fff;
}
.col-lg-6.col-md-12.col-sm-12 .buy-btn:hover{
    background-color:coral
}
    
.single-product input:focus{
    outline: none;
    font-weight: 600; 
    font-size: 1rem;
}
.single-product input{
    width:50px;
    height:40px;
    padding-left:10px;
    font-size:16px;
    margin-right:10px ;
}


.small-img-col img {
    cursor: pointer;
    margin-bottom: 2rem;
    transition: 0.3s ease; /* Smooth transition for the opacity change */
}

.small-img-col img:hover {
    opacity: 0.7; /* Change this value to your desired opacity */
}
/* Cart */
.cart table {
    width: 100%;
    border-collapse: collapse;
}

.cart table th,
.cart table td {
    padding: 12px;
    text-align: left;
   
}

.cart table th {
    background-color: coral;
}

.cart table .product-info {
    display: flex;
    align-items: center;
}

.cart table .product-info img {
    max-width: 60px;
    margin-right: 15px;
}

.cart table .remove-btn {
    color: #ff4500;
    text-decoration: none;
    font-size: 12px;
}
.cart .remove-btn{
    
 background-color: white;
 border: none;
 width: 100%;

}
.cart .edit-btn{

    background-color: white;
    border: none;
   
}

    

.cart table .remove-btn:hover {
    text-decoration: underline;
}

.btn-danger {
    background-color: #ff4500;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.edit-btn{
    
    border: none;
    color: coral;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    
}
.cart table .edit-btn:hover {
    text-decoration: underline;
    
}

.cart hr{
    border: none;
    border-top: 4px solid coral;
    width: 5%; 
    margin-top: 5px; 
}
.cart input:focus{
    outline: none;
    font-weight: 600; 
    font-size: 1rem;
}
.cart input{
    width:50px;
    height:40px;
    padding-left:10px;
    font-size:16px;
    margin-right:10px ;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}
td:last-child{
    text-align: right;

}
th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.btn.checkout-btn{
    display: flex;
    justify-content: flex-end;
    background-color: #fb774b;
    color: #fff;
}

/*login*/
.login hr{
    border: none;
    border-top: 4px solid coral;
    width: 5%; 
    margin-top: 5px; 
}

#login-form{
    width:50%;
    margin:  5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b; 
}
#login-form input{
    width:50%;
    margin:5px auto;
    border: 2px solid black;
}
#login-form #login-btn{
    background-color: #fb774b;
    color:#fff
}
#login-form #registration-url{
    color: #fb774b;
    font-size: 1rem;
    font-weight: 600;
}
#login-form label{
    font-size: 1rem;
    font-weight: 600;
}
.form-group .form-control{
    font-size: 1rem;
    font-weight: 600;

}
/* register*/
.register hr{
    border: none;
    border-top: 4px solid coral;
    width: 5%; 
    margin-top: 5px; 
}

#register-form{
    width:50%;
    margin:  5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b; 
}
#register-form input{
    width:50%;
    margin:5px auto;
    border: 2px solid black;
}
#register-form #register-btn{
    background-color: #fb774b;
    color:#fff
}
#register-form #login-url{
    color: #fb774b;
    font-size: 1rem;
    font-weight: 600;
}
#register-form label{
    font-size: 1rem;
    font-weight: 600;
}
.form-group .form-control{
    font-size: 1rem;
    font-weight: 600;

}

/* Acount form */

#account-form{
    width:50%;
    margin: 35px auto;
    text-align:center;
    padding: 20px;
}
 .form-group label{
    font-size: 1rem;
    font-weight: 600;
}

#account-form input{
    margin:5px auto;

}

#account-form #change-pass-btn{
    color: #fff;
    background-color: #fb774b;
}
 .account-info #order-btn,#logout-btn{
    color:#fb774b;
    text-decoration: none;
}

#account-form  hr{
    border: none;
    border-top: 4px solid coral;
    width: 30%; 
    margin-top: 5px; 
}
.my-5.py-5 hr{
    border: none;
    border-top: 4px solid coral;
    width: 10%; 
    margin-top: 5px; 
}

/* checkout */
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;

}
 #checkout-form .checkout-large-element{
    width: 97%;
    
}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;

}
#checkout-form #checkout-btn{
    color: #fff;
    background-color: #fb774b;
}
#checkout-form label{
    font-size: 1rem;
    font-weight: 600;
}
#contact span{
    color: #ff4500;
}